
( очередь дописывать - за F.
(меняй букву, как что-то добавишь) )

Top secret

Agreement between male(M) and female(F).

Вступление

Актуальность:
Данный договор актуален в силу накопления вороха обстоятельств, нерешённых проблем, недовольства и разного понимания сторонами существующего договора, заключенного в устной и негласной формах.
Только стремление обоих сторон к открытому и ясному диалогу может привести к миру и процветанию. 

Цели:
Сформировать четкие схемы взаимодействия для достижение взаимной выгоды и укрепления отношений.

Общие положения:

Необязательные пункты располагаются в порядке убывания приоритета.
# - комментарий

Симметричная часть договора:

Каждая из сторон обязуется любить и уважать контрагента и принимать его существующим, полностью и без изъятия, не стремясь "исправить" или "изменить" его/её.

Аргументировано обосновывать своё мнение с позиции диалектического материализма, но не сакрализируя ни его, ни прочее.


Сторона F обязуется:
1)Манипулировать стороной M не обидами.

2)Максимально сильно стараться не обижаться на M. Если же такое случилось, то объяснить причину обиды и пробовать обсудить, а не молча грустить и кукситься. (Так ведь надо ?  если что не так, то поменяй)


Необязательные, но желательные пункты:
1)Похудеть. Сделать это быстро. 
# 
2)
Сторона М стремится:

Сторона М обязуется:
1) 
2)
Необязательные, но желательные пункты:


to be continued...
