Top secret

Agreement between male(M) and female(F).

Сторона F обязуется:
1)	Любить и уважать M
2)	Максимально сильно стараться не обижаться на M. Если же такое случилось, то объяснить причину обиды и пробовать обсудить, а не молча грустить и кукситься. (Так ведь надо ?  если что не так, то поменяй)
3)	Похудеть. Сделать это быстро. 
4)...
