
( очередь дописывать - за F.
(меняй букву, как что-то добавишь) )

Top secret

Agreement between male(M) and female(F).

Вступление

Актуальность:
Данный договор актуален в силу накопления вороха обстоятельств, нерешённых проблем, недовольства и разного понимания сторонами существующего договора, заключенного в устной и негласной формах.
Только стремление обоих сторон к открытому и ясному диалогу может привести к миру и процветанию. 

Цели:
Сформировать четкие схемы взаимодействия для достижение взаимной выгоды и укрепления отношений.

Общие положения:

Необязательные пункты располагаются в порядке убывания приоритета.
# - комментарий

Симметричная часть договора:

Каждая из сторон обязуется любить и уважать контрагента и принимать его существующим, полностью и без изъятия, не стремясь "исправить" или "изменить" его/её.

Аргументировано обосновывать своё мнение с позиции диалектического материализма, но не сакрализируя ни его, ни прочее.

 Не изменять.

Сторона F обязуется:
0)Давать логические аргументы,  не придерживаться мнения, которое не можешь обосновывать логически.
1)Манипулировать стороной M не обидами.
2)Максимально сильно стараться не обижаться на M. Если же такое случилось, то объяснить причину обиды и пробовать обсудить, а не молча грустить и кукситься. 
3)Не мешать M углубляться в математику. Напротив, поддерживать деятельность M.



Необязательные, но желательные пункты:
1)Похудеть. Сделать это быстро. [М вправе получать информацию в кг раз в неделю]
# 

Сторона F стремится:
1)Самой не забывать о точных науках и будущем трудоустройстве. Развиваться в профессиональном плане.
2)Достичь спокойствия и гармонии.


Сторона М обязуется:
1)
2)
Необязательные, но желательные пункты:
1) Потолстеть до 70 кг [до нового года ].


to be continued...

================
Так. А вот здесь обсуждение договора.

Чего я хочу добиться:
1) Чтобы темы секса, отношений и денег перестали быть для тебя табуированными.
# это не темы табу для меня, правда. Вернее может с кем-то, но не с тобой. Поднимай разнообразные вопросы, я буду рада обсудить с тобой любую (!) тему.
2) Я хочу знать, что ты хочешь договариваться и активно договариваешься со мной. Повторюсь: пока существует этот документ, пока я верю в то, что ты в него веришь, до тех пор длятся наши отношения. Неспроста так - те же иудеи, мусульмане, христиане имеют некий основополагающий документ. И поэтому они такие вот успешные. А мы в еще большем плюсе поскольку пишем его самостоятельно.
# Я очень обрадовалась, когда ты предложил составить этот документ. Кстати, пример про религии неплохой. Ты меня убедил :)
3) Я вижу, что у тебя проблемы с формулированием своих желаний, мыслей. Чувства-то ты хорошо проявляешь;) Но надо и остальное. 
# Мур

Хотя у меня есть предположение, что в массе своей движимы лишь "так надо" и "так все делают", что позволяет поддерживаться такому вот разуму улья. Но хочется думать, что вот мы-то чем-то лучше, что мы можем быть логичнее.
Для меня четкая логика важна, иначе у меня возникает бугурт и я не знаю, что делать. # Мне это очень-очень в тебе нравится) Одна из наиболее привлекающих меня в тебе черт
4) Хочу отметить, еще раз, что очень важно, чтобы ты принимала активное участие, пыталась мне что-то объяснить, доказать, а иначе - все написанное можно удалять и не исполнять.
# Хорошо, только прошу не сразу отвергать мои предложения, а корректировать их. Потому что я даже немного боюсь предлагать то, что заведомо ты отвергнешь.
(ты можешь отвечать как связным текстом, так и прямо внутри моего, главное - отвечай)

------
Насчет "рассказывать всё и не иметь секретов". Тут можно провести аналогию, что мы две компании и у нас две службы безопасности. И надо посмотреть какие риски есть от объединения этих служб. (Вдруг одна компания сольётся, с той же легкостью, как это уже бывало? Тогда полностью на данный момент - трудно. Но и секреты бывают разные по значимости, например жизнь у Кощея была в игле, в яйце, в утке, и кому он это разболтал, дурачок? )

Я умею быть четким и логичным, но общество у нас часто на это не реагирует, оно дико и прогибается только под силу или деньги. Ну и уважение еще надо заработать, чтобы послушали. Ну да, как правило, людям сложно и долго во всём разбираться досконально, легче бить по определенным признакам, а уж кто там подстрелен: медведь или похожий на медведя мужик, как правило, не так важно.
# Я считаю, что если раскрываться, то на 100%. Иначе же, возникнут недомолвки и ничего не изменится от текущего положения вещей. Тем более, что нет у нас никаких гостайн и прочих подобных вещей, которые вообще нельзя раскрывать.
Я с такими умозаключениями прихожу к выводу, что досконально точна только математика и поэтому её стоит изучать в первую очередь.

Да, если ты будешь самостоятельно изучать математику по твоему собственному желанию, и не ради меня, а ради самой математики, то даже этот договор может не потребоваться, в силу того, что я и так тебя пойму. Это вариант два.
# математика мне интересна, но особенно в настоящее время мне интересен Питон. Я бы хотела чтобы у меня появился месяцок и я чисто позанималась им. Хороший язык, прикладной, логичный. От математики я не отказываюсь, но пока в рамках курса.

Третий вариант - это свободные отношения, то есть секс и обнимашки, когда нам обоим нужно. Это лайт вариант, если остальные слишком сложны или трудны для осуществления.
# "то есть секс и обнимашки, когда нам обоим нужно" - понимаешь, я испытываю желание тебя видеть и обнимать ежедневно => см. следующий комментарий.
В общем пока тут не договоримся в "первой версии" - предлагаю третий вариант, потому что он лучше, чем вообще ничего. 
# Этот вариант меня не устраивает. Считаю, что нужно доделать договор и таким образом свести к минимуму вероятность конфликта. 
# А также мне интересно, что именно тебя привлекает в подобного рода отношениях.

Жду твоих замечаний, но не вида "Мне это не нравится", а вида "Предлагаю вместо этого вот это, в силу того, что то-то".
Как вообще считаешь мне удасться с тобой с помощью логики договориться или твоя принципиальная позиция - некая твоя женска иррациональность? (сравни это с некой долей иррациональности твоей мамы и пойми насколько это может бесить и не нравиться(так ты как бы встанешь в отношениях на моё место))
# Поняла, тебя это дико бесит)

Вот. Ни в коем случае не утверждаю, что "я здесь самый умный". Я описываю тот путь объяснения вещей, который мне понятен.

Ну и был бы умным - раньше бы начал тебя теребить вот этой вот важной для меня писательской деятельностью:)


Чего я хочу добиться:
1) Уверенности. Скажу честно, меня сильно выбивают из колеи ссоры, особенно подобные последней. Хочу быть всегда уверена, что у нас все хорошо, нет проблем. Ста-биль-ность - это то, что мне надо. Это не относится ко всему, но к отношениям - 100%. 
2) Доверия. Это важно. Я считаю тебя очень близким мне человеком, родным. Ожидаю от тебя того же в ответ.
